# Semana 03

Temas:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de Datos pro teclado
    5. Operadores

2. Variables

In [3]:
#Siempre deben iniciar con una letra o un guión abajo. (Nunca con número u otro símbolo)

In [4]:
edad = 19

In [5]:
edad

19

In [13]:
nombre = "Jaime"
nombre

'Jaime'

In [11]:
apellido = 'Matheus Guerra'
apellido

'Matheus Guerra'

In [16]:
nombrecompleto = nombre +" "+ apellido
nombrecompleto

'Jaime Matheus Guerra'

In [24]:
# Para saber el tipo de variable utilizamos la función type()
#Por ejemplo 
type(nombre)

str

In [27]:
# Para vonvertir un número en cadena utilizamos str()
numero = 100 
cadena = str(numero)

In [28]:
cadena

'100'

In [29]:
type(cadena)

str

In [30]:
#Para convertir una cadena en un entero
cadena2 = '50'
entero = int(cadena2)
entero

50

In [31]:
type(entero)

int

In [32]:
# para convertir un decimal utilizamos float()

cadena3 = 50 
flotante = float(cadena3)

In [33]:
flotante

50.0

In [34]:
type(flotante
)

float